@model OzonDomains.Models.OzonClient

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить клиента</h1>

<div>
    <h4>OzonClient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecryptClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecryptApiKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.INNCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.INNCode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
    </dl>
    
    <form asp-area="Studio2" asp-controller="OzonClients" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">К списку клиентов</a>
    </form>
</div>
