@using OzonDomains
@using OzonDomains.Models
@using OzonOrdersWeb.ViewModels.OzonClientViewModels
@using Servcies.FiltersServcies.FilterModels
@using Servcies.FiltersServcies.SortModels

@model OzonClientViewModel<OzonClient, OzonClientFilterModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script asp-src-include="~/js/**/*.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<style>
    .underline-input input, .underline-input select {
        border: none;
        border-bottom: 1px solid #ced4da; /* Bootstrap's gray border color */
        outline: none;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
</style>

<div class="container ">
    <div class="row">
        <div>
            <div class="card">
                <div class="card-header">
                    <h2>Клиенты</h2>
                    <p>
                        <a asp-action="Create">Добавить клиента</a>
                    </p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <form asp-area="Studio2" asp-controller="OzonClients" asp-action="DelSortStateCookie" method="post">
                                        <button type="submit" class="btn btn-link" style="width: 18px; height: 18px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"></path>
                                            </svg>
                                            <span class="visually-hidden">Button</span>
                                        </button>
                                    </form>
                                </th>
                                <th>
                                    <a class="text-dark" asp-action="Index" asp-route-sortOrder="@ViewBag.OzonClientNameSort">
                                        <small>@(ViewBag.OzonClientNameSort == OzonClientSortState.NameAsc ? "Название↑" : "Название↓")</small>
                                    </a>
                                </th>
                                <th>
                                    Client Id
                                </th>
                                <th>
                                    Api Key
                                </th>
                                <th>
                                    <a class="text-dark" asp-action="Index" asp-route-sortOrder="@ViewBag.OzonClientCurrencyCodeSort">
                                        <small>@(ViewBag.OzonClientCurrencyCodeSort == OzonClientSortState.CurrencyCodeAsc ? "Валюта↑" : "Валюта↓")</small>
                                    </a>
                                </th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form id="filterForm" asp-area="Studio2" asp-controller="OzonClients" asp-action="Index" method="post">
                                <td>
                                    <button type="button" class="btn btn-link ml-2" onclick="clearForm()" style="margin-top: -9px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"></path>
                                        </svg>
                                        <span class="visually-hidden">Button</span>
                                    </button>
                                </td>
                                <td>
                                    <input asp-for="@Model.FilterModel.Name" id="nameFilter" name="Name" class="form-control form-control-sm" />
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input asp-for="@Model.FilterModel.CurrencyCode" id="currencyCodesFilterInput" value="@ViewData["DisplayCurrencyCode"]" class="form-control form-control-sm" autocomplete="off" />
                                    <input type="hidden" id="currencyCodesFilterValue" name="CurrencyCode" value="@Model.FilterModel.CurrencyCode" />

                                    <ul id="currencyCodesDropdown" class="dropdown-menu" style="display: none;">
                                        <li><a href="#" data-value="NON">Все</a></li>
                                                @foreach (var tuple in Model.CurrencyCodes)
                                                {
                                                    var transactionType = tuple.Item1;
                                                    var displayName = tuple.Item2;
                                            <li><a href="#" data-value="@transactionType">@displayName</a></li>
                                                }
                                    </ul>
                                </td>
                                <script>
                                    $(document).ready(function () {
                                        $('#currencyCodesFilterInput').focus(function () {
                                            $('#currencyCodesDropdown').show();
                                        });

                                        $('#currencyCodesDropdown').on('click', 'a', function (e) {
                                            e.preventDefault();
                                            var transactionType = $(this).data('value');
                                            var displayName = $(this).text();
                                            $('#currencyCodesFilterInput').val(displayName); // Отображаем displayName в поле ввода
                                            $('#currencyCodesFilterValue').val(transactionType); // Отправляем transactionType
                                            $('#currencyCodesDropdown').hide();
                                        });

                                        $(document).on('click', function (e) {
                                            if (!$(e.target).closest('#currencyCodesFilterInput').length && !$(e.target).closest('#currencyCodesDropdown').length) {
                                                $('#currencyCodesDropdown').hide();
                                            }
                                        });
                                    });
                                </script>
                                <button type="submit" id="submitFilterButton" style="display:none;"></button>
                                </form>
                                    @foreach (var item in Model.Items)
                                    {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <form asp-area="Studio2" asp-controller="OzonClients" asp-action="Edit" method="post" oninput="toggleSaveButton(this)">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <input type="hidden" name="ClientId" value="@item.ClientId" />
                                                <input type="hidden" name="ApiKey" value="@item.ApiKey" />
                                                <div class="underline-input">
                                                    <input type="text" name="Name" class="form-control form-control-sm" value="@item.Name" placeholder="Указать имя" />
                                                </div>
                                                <button type="submit" class="btn btn-link" style="display: none;">Сохранить</button>
                                            </form>
                                        </td>
                                        <td>
                                            @if(item.ClientId != null)
                                            {
                                            <form asp-area="Studio2" asp-controller="OzonClients" asp-action="Edit" method="post" oninput="toggleSaveButton(this)">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <input type="hidden" name="Name" value="@item.Name" />
                                                <input type="hidden" name="ApiKey" value="@item.ApiKey" />
                                                <div class="underline-input">
                                                    <input type="text" name="ClientId" class="form-control form-control-sm" value="@item.DecryptClientId" placeholder="Указать ClientId" />
                                                </div>
                                                <button type="submit" class="btn btn-link" style="display: none;">Сохранить</button>
                                            </form>
                                            }
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.DecryptApiKey)
                                        </td>
                                        <td>
                                            <form asp-area="Studio2" asp-controller="OzonClients" asp-action="Edit" method="post" oninput="toggleSaveButton(this)">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <input type="hidden" name="Name" value="@item.Name" />
                                                <input type="hidden" name="ClientId" value="@item.ClientId" />
                                                <input type="hidden" name="ApiKey" value="@item.ApiKey" />
                                                <div class="underline-input">
                                                    <select name="CurrencyCode" class="form-control form-control-sm">
                                                        <option value="">@((item.CurrencyCode == CurrencyCode.NON) ? "Указать валюту" : item.CurrencyCode.ToString())</option>
                                                            @foreach (var currency in Model.CurrencyCodes)
                                                            {
                                                            <option value="@currency.Item1" selected="@(currency.Item1 == item.CurrencyCode)">@currency.Item1</option>
                                                            }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-link" style="display: none;">Сохранить</button>
                                            </form>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> 
                                            <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                                        </td>
                                    </tr>
                                    }
                        </tbody>
                    </table>
                    <div class="pagination-wrapper d-flex justify-content-center">
                        <div class="pagination-controls">
                            @if (Model.TotalPages > 15)
                            {
                                @if (Model.PageNumber <= 8)
                                {
                                    @for (int i = 1; i <= 15; i++)
                                    {
                                        <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
                                    }
                                    <span>...</span>
                                    <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-primary">@(Model.TotalPages)</a>
                                }
                                else if (Model.PageNumber >= Model.TotalPages - 7)
                                {
                                    <a asp-action="Index" asp-route-page="1" class="btn btn-primary">1</a>
                                    <span>...</span>
                                    @for (int i = Model.TotalPages - 14; i <= Model.TotalPages; i++)
                                    {
                                        <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
                                    }
                                }
                                else
                                {
                                    <a asp-action="Index" asp-route-page="1" class="btn btn-primary">1</a>
                                    <span>...</span>
                                    @for (int i = Model.PageNumber - 6; i <= Model.PageNumber + 8; i++)
                                    {
                                        <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
                                    }
                                    <span>...</span>
                                    <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-primary">@(Model.TotalPages)</a>
                                }
                            }
                            else
                            {
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
                                }
                            }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function toggleSaveButton(form) {
            $(form).find('button[type="submit"]').show();
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Функция, вызываемая при нажатии клавиши в полях списках
        function handleKeyPress(event) {
            // Проверяем, была ли нажата клавиша Enter
            if (event.key === 'Enter') {
                // Отправляем форму
                submitForm();
                // Предотвращаем стандартное поведение браузера по умолчанию
                event.preventDefault();
            }
        }
    </script>
</div>